@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v28/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMPrQ.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Comfortaa', cursive;
}
body {
  background-color: #121212;
}
h1,
h2 {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
  font-size: 4.8rem;
}
p {
  font-size: 2.7rem;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.nav-bar {
  background-color: rgba(255, 255, 255, 0.09);
  display: flex;
  justify-content: space-around;
  padding: 13px 0;
  margin-bottom: 50px;
}
.nav-bar nav a {
  font-size: 1.6rem;
}
.intro-section {
  display: flex;
  margin-bottom: 40px;
}
.intro-section .intro-right {
  width: 46%;
  padding: 2%;
}
.intro-section .intro-right h2 {
  margin-bottom: 30px;
}
.intro-section .intro-right p {
  margin-bottom: 80px;
}
.intro-section .intro-right .sign-buttons {
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
}
.intro-section .intro-right .sign-buttons .btn {
  border: 1px solid #39869D;
  color: #39869D;
  text-align: center;
  padding: 13px 0;
  width: 208px;
  border-radius: 18px;
}
.intro-section .intro-right .sign-buttons .btn:hover {
  background-color: #39869D;
  color: rgba(255, 255, 255, 0.87);
}
.intro-section .intro-left {
  width: 46%;
  padding: 2%;
}
.img-section {
  display: flex;
  justify-content: space-around;
}
.img-section p {
  margin-top: 20px;
  font-size: 1.8rem;
  text-align: center;
  width: 208px;
}
