.about-page  {
    
    h1, h3, h4 {
        color: @primary-color; 
        
    }

   h1, h3 {
       text-align: center; 
   }

  

   .center {
       text-align: center;
        .intro {
            display: inline-block;
            text-align: center;
            max-width: 75%;
        }
   }

}