

//The A is is wonky
//Also can I figure out how to use the blue somewhere? 
//Figure out some mixins
//Clean up spacing?
//Add actual links to things
//Change font size on mobile
//Tablet width fix
//Fix spacing mobile pic


.about-page  {
    width: 90%;
    padding: 5%;

    h1, h3, h4 {
        color: @text-high-emphasis; 
        margin-bottom: 30px;
        
    }

   h1, h3 {
       text-align: center; 
       
   }

  p {
      margin-bottom: 20px;
  }

   .center {
       text-align: center;
        .intro {
            display: inline-block;
            text-align: center;
            max-width: 70%;
            margin-bottom: 60px;
            //border-top: 2px solid @primary-color;

            @media @mobile {
                max-width: 85%;
            }
        }
   }

   #team-header{
       margin-top: 50px;
   }

   .team {
       display: flex;
       flex-direction: row;
       
       @media @tablet {
        align-content: flex-start;
        flex-wrap: wrap;
       }

       .team-member {
        width: 20%;
        @media @tablet {
            min-width: 150px;
        }
        img {
            width: 90%;
            height: auto;
            margin-bottom: 5px;
            border-radius: 15%;
            border: 2px solid @primary-color;
        }
        .title {
            font-size: 1.8rem;
            width: 90%;
            text-align: center;

            color: @text-low-emphasis;
            height: 45px;
       }

       .name {
           width: 90%;
           font-size: 2.0rem;
           text-align: center;
       }

       @media @mobile {
           width: 100%;
           .flex-column-center();
       }

      
       }

       @media @mobile {
           flex-direction: column;
           
          
        
       }
   }

}