html {
    font-size: 62.5%;
}



html, body {
    color: @text-medium-emphasis;
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: @main-background;
}

h1, h2 {
    font-weight: bold;
    color: @text-high-emphasis;
    font-size: 4.8rem;
}



p {
    font-size: 2.7rem; 
}

.container {
    //border: 1px red solid; 
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @media @mobile {
        max-width: 90%;
    }
}