

.intro-section {
   display: flex;
   margin-bottom: 40px;
   
  

    .intro-right {
        //This might not be the best way to do this
        // display: flex;
        // flex-direction: column;
        // justify-content: space-around;
        // p {
        //     margin-bottom: 50px;
        // }
        h2 {
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 80px;
        }
        
        
        width: 46%;
        padding: 2%;
        
        

        
        .sign-buttons {
            display: flex;
            justify-content: space-around; 
            font-size: 1.8rem;
            .btn {
                border: 1px solid @primary-color; 
                color: @primary-color;
                text-align: center; 
                padding: 13px 0; 
                width: 208px; 
                border-radius: 18px; 

            }

            .btn:hover {
                background-color: @primary-color; 
                color: @text-high-emphasis;
            }
            
        }
    }
    .intro-left {
        width: 46%;
        padding: 2%
    }

}



.img-section {
    display: flex;
    justify-content: space-around; 

    img {
       
    }

    p {
        margin-top: 20px;
        font-size: 1.8rem;
        text-align: center;
        width: 208px; 
    }

    
}