


.intro-section {
   display: flex;
   margin-bottom: 40px;
   
  

    .intro-left {

        width: 46%;
        padding: 2%;
        
        h2 {
            margin-bottom: 30px;
           
            @media @mobile {
                text-align: center;
            }
            
        }
        p {
            margin-bottom: 80px;
            @media @mobile {
                text-align: center;
            }
        }
        
        
       
        
        

        
        .sign-buttons {
            display: flex;
            justify-content: space-around; 
            font-size: 1.8rem;
         
           
            .btn {
                border: 1px solid @primary-color; 
                color: @primary-color;
                text-align: center; 
                padding: 13px 0; 
                //width: 208px; 
                //Try percentile
                width: 40%;
                border-radius: 18px; 
                @media @tablet {
                    width: 208px;
                    margin-bottom: 20px;
                }
                

            }

            .btn:hover {
                background-color: @primary-color; 
                color: @text-high-emphasis;
            }

            @media @tablet {
                flex-direction: column;
                justify-content: space-around;
            }
           
        }

        @media @mobile {
         
            .flex-column-center();
            width: 100%;
            padding: 0; 
           
            
        }
    }
    
    .intro-right {
        width: 46%;
        padding: 2%;

        img {
            width: 100%;
            height: auto;

            @media @mobile {
                margin-bottom: 30px;
            }
        }
        
        @media @mobile {
            
            width: 100%;
            padding: 0; 
           
        }
       
    }

    @media @mobile {
        flex-direction: column-reverse;
        
       
    }

}



.img-section {
    display: flex;
    justify-content: space-around; 
    

   
     

       img {
            border: 1px @primary-faded solid;
            border-radius: 15px;
            height: 208px;
            width: 192px;
           object-fit: contain;

           @media @mobile {
               width: 80%;
               margin-left: 10%;
               margin-left: 10%;
             
               height: auto;
           }
         
       }
   

    p {
        margin-top: 20px;
        font-size: 1.8rem;
        text-align: center;
        width: 208px; 
        margin-bottom: 60px;

        @media @mobile {
           
            width: 80%;
            padding: 10%;
            font-size: 2.6rem;
        }
    }

    @media @mobile {
        flex-direction: column;
        align-items: center;
       
    }
    
    
}

#credit {
    font-size: 1.8rem;
    color: @text-medium-emphasis;
    margin-top: 50px;
    padding-top: 50px;
    
}