//Colors
@primary-color: #39869D; //Astral
@text-high-emphasis: rgba(255, 255, 255, 0.87);
@text-medium-emphasis: rgba(255, 255, 255, 0.6);
@text-low-emphasis:  rgba(255, 255, 255, 0.4);

@header-background:rgba(255, 255, 255, 0.09); 
@main-background:rgb(18, 18, 18);

//Design
@mobile: (max-width: 500px);
